{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":36,"column":0},"end":{"row":41,"column":16},"action":"insert","lines":["Click==7.0","Flask==1.0.2","itsdangerous==1.1.0","Jinja2==2.10","MarkupSafe==1.1.0","Werkzeug==0.14.1"],"id":2}],[{"start":{"row":37,"column":0},"end":{"row":37,"column":12},"action":"remove","lines":["Flask==1.0.2"],"id":3},{"start":{"row":36,"column":10},"end":{"row":37,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":510.5,"scrollleft":0,"selection":{"start":{"row":36,"column":10},"end":{"row":36,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":30,"state":"start","mode":"ace/mode/text"}},"timestamp":1560691255580,"hash":"0b80e3bcc5685a03f4dddc15d44dd2e61da5ffb3"}