/* Variables */

$primary-color: #7D1538
$secondary-color: #F9F9F9
$third-color: #d97eff
$fourth-color: #C45AB3
$fifth-color: #F45866

/* Mixins */

%box
    background-color: $secondary-color
    color: #383838
    border-color: white
    opacity: 0.9

    
%title
    font-family: 'Lalezar', cursive

/* background */


body
    background: url(images/background-pic-purple.jpg) top right no-repeat
    background-attachment: fixed
    
.blank-background
    @extend %box
    padding: 3% 10%
    margin-top: 5px

/* nav bar */

.nav-wrapper
    background-color: $primary-color
    font-family: 'Roboto', sans-serif

.brand-logo
    @extend %title
    margin: 0px 15px

/* search bar */

.search-bar
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2)
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2)
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2)
    background-color: #f5ecf9
    padding: 0 !important
    color: #383838
    font-family: 'Roboto', sans-serif
    margin-top: 5px
    height: 38px

.select-wrapper input.select-dropdown
    margin: 0
    border: none
    width: 100%
    font-size: 16px
    height: 38px

.dropdown-content li>span
    color: #383838
    font-family: 'Roboto', sans-serif

.search-button
    margin-left: 15px

/* Jams page */

.jams-list
    @extend %box
    font-family: 'Roboto', sans-serif
    text-align: center

.jam-title
    @extend %title

.other-jam-info
    background-color: #F4CEFF
    border-color: white

/* Users page */

.user-card
    @extend %box
    font-family: 'Roboto', sans-serif

.user-name
    @extend %title

/* other */
    
.user-card
    @extend %box

.btn
    background-color: #b4ffba
    
.btn:hover
    background-color: $third-color

.side-nav
    @extend %box
    
.side-nav li>a:hover
    background-color: $primary-color
    color: white
    
/* When starting to use sass, type into console: sass --watch static/css/style.sass:static/css/style.css */
