{% extends 'base.html' %} {% block content %}
<div class="container">
<h3>Create a Jam</h3>
<div class="row">
    <form action="{{ url_for('insert_jam') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="jam_title" name="jam_title" type="text">
                <label for="icon_prefix">Jam Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="genre" name="genre" type="text">
                <label for="icon_prefix">Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="date_of_jam" name="date_of_jam" type="text" class="datepicker">
                <label for="icon_prefix">Date</label>
            </div>
        </div>
        <div class="row">
            <span class="input-field col s8">
                <input id="jam_location" name="jam_location" type="text">
                <label for="icon_prefix">Address</label>
            </span>
            <span class="input-field col s4">
                <select id="county" name="county">
                    <option value="" disabled selected>County</option>
                    {% for my_county in counties %}
                        <option value="{{my_county.county}}">{{my_county.county}}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
        <div class="row" id="members-section">
            <span class="input-field col s6">
                <select id="instruments" name="member_instrument">
                    <option value="" disabled selected>Instrument</option>
                    {% for instrument in instruments %}
                        <option value="{{instrument.instruments}}">{{instrument.instrument_name}}</option>
                    {% endfor %}
                </select>
            </span>
            <span class="input-field col s5">
                <input id="jam_member_1" name="jam_member_1" type="text">
                <label for="icon_prefix">Member Username</label>
            </span>
            <span class="input-field col s1">
                <a class="waves-effect waves-light btn" id="new-member_1" onclick="newMember()">+</i></a>
            </span>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="jam_notes" name="jam_notes" type="text">
                <label for="icon_prefix">Notes</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Done!</button>
        </div>
    </form>
</div>
</div>

<script type="text/javascript">
    var i = 1;
    function newMember() {
        i++;
        console.log(i);
        document.getElementById("members-section").innerHTML += `<span class="input-field col s6">
            <select>
                <option id="member_instrument_${[i]}" value="" disabled selected>Instrument</option>
                {% for instrument in instruments %}
                    <option value="{{instrument.instruments}}">{{instrument.instrument_name}}</option>
                {% endfor %}
            </select>
            </span>
            <span class="input-field col s5">
                <input id="jam_member_${[i]}" name="jam_member_${[i]}" type="text">
                <label for="icon_prefix">Member Username</label>
            </span>
            
            <span class="input-field col s1">
                <a class="waves-effect waves-light btn" id="edit" onclick="newMember()">+</i></a>
            </span>`;
        
    }
</script>

{% endblock %}
