{% extends 'base.html' %} {% block content %}
<div class="blank-background">
    <h3 class="jam-title">Create a Jam</h3>
    <div class="row">
        <form action="{{ url_for('add_jam') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="jam_title" name="jam_title" type="text">
                    <label for="icon_prefix">Jam Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="genre" name="genre" type="text">
                    <label for="icon_prefix">Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input id="date_of_jam" name="date_of_jam" type="text" class="datepicker">
                    <label for="icon_prefix">Date</label>
                </div>
            </div>
            <div class="row">
                <span class="input-field col s8">
                <input id="jam_location" name="jam_location" type="text">
                <label for="icon_prefix">Address</label>
            </span>
                <span class="input-field col s4">
                <select name="jam_county">
                    <option value="" disabled selected>County</option>
                    {% for county in counties %}
                    <option value="{{county.county_name}}">{{county.county_name}}</option>
                    {% endfor %}
                </select>
            </span>
            </div>
            <div class="row" id="members-section">
                <div class="row" id="member-1-details">
                    <span class="input-field col s6">
                        <select name="member_instrument_1">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_1" type="text">
                        <label for="icon_prefix">Member Username</label>
                    </span>
                    <span class="input-field col s1">
                        <a class="waves-effect waves-light btn" id="new-member_1" onclick="newMember1()">+</i></a>
                    </span>
                </div>
                <div class="row" id="member-2-details">
                    <span class="input-field col s6">
                        <select name="member_instrument_2">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_2" type="text">
                        <label for="icon_prefix">Member Username</label>
                    </span>
                    <span class="input-field col s1">
                        <a class="waves-effect waves-light btn" id="new-member_2" onclick="newMember2()">+</i></a>
                    </span>
                </div>
                <div class="row" id="member-3-details">
                    <span class="input-field col s6">
                        <select name="member_instrument_3">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_3" type="text">
                        <label for="icon_prefix">Member Username</label>
                    </span>
                    <span class="input-field col s1">
                        <a class="waves-effect waves-light btn" id="new-member_3" onclick="newMember3()">+</i></a>
                    </span>
                </div>
                <div class="row" id="member-4-details">
                    <span class="input-field col s6">
                        <select name="member_instrument_4">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_4" type="text">
                        <label for="icon_prefix">Member Username</label>
                    </span>
                    <span class="input-field col s1">
                        <a class="waves-effect waves-light btn" id="new-member_4" onclick="newMember4()">+</i></a>
                    </span>
                </div>
                <div class="row" id="member-5-details">
                    <span class="input-field col s6">
                        <select name="member_instrument_5">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_5" type="text">
                        <label for="icon_prefix">Member Username</label>
                    </span>
                    <span class="input-field col s1">
                        <a class="waves-effect waves-light btn" id="new-member_5" onclick="newMember5()">+</i></a>
                    </span>
                </div>
                <div class="row" id="member-6-details">
                    <span class="input-field col s6">
                        <select name="member_instrument_6">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_6" type="text">
                        <label for="icon_prefix">Member Username</label>
                    </span>
                    <span class="input-field col s1">
                        <a class="waves-effect waves-light btn" id="new-member_6" onclick="newMember6()">+</i></a>
                    </span>
                </div>
                <div class="row" id="member-7-details">
                    <span class="input-field col s6">
                    <select name="member_instrument_7">
                        <option value="" disabled selected>Instrument</option>
                        {% for instrument in instruments %}
                        <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <span class="input-field col s5">
                    <input id="jam_members" name="jam_member_7" type="text">
                    <label for="icon_prefix">Member Username</label>
                </span>
                    <span class="input-field col s1">
                    <a class="waves-effect waves-light btn" id="new-member_7" onclick="newMember7()">+</i></a>
                </span>
                </div>
                <div class="row" id="member-8-details">
                    <span class="input-field col s6">
                    <select name="member_instrument_8">
                        <option value="" disabled selected>Instrument</option>
                        {% for instrument in instruments %}
                        <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <span class="input-field col s5">
                    <input id="jam_members" name="jam_member_8" type="text">
                    <label for="icon_prefix">Member Username</label>
                </span>
                    <span class="input-field col s1">
                    <a class="waves-effect waves-light btn" id="new-member_8" onclick="newMember8()">+</i></a>
                </span>
                </div>
                <div class="row" id="member-9-details">
                    <span class="input-field col s6">
                    <select name="member_instrument_9">
                        <option value="" disabled selected>Instrument</option>
                        {% for instrument in instruments %}
                        <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <span class="input-field col s5">
                    <input id="jam_members" name="jam_member_9" type="text">
                    <label for="icon_prefix">Member Username</label>
                </span>
                    <span class="input-field col s1">
                    <a class="waves-effect waves-light btn" id="new-member_9" onclick="newMember9()">+</i></a>
                </span>
                </div>
                <div class="row" id="member-10-details">
                    <span class="input-field col s6">
                    <select name="member_instrument_10">
                        <option value="" disabled selected>Instrument</option>
                        {% for instrument in instruments %}
                        <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <span class="input-field col s5">
                    <input id="jam_members" name="jam_member_10" type="text">
                    <label for="icon_prefix">Member Username</label>
                </span>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="jam_notes" name="jam_notes" type="text">
                        <label for="icon_prefix">Notes</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit">Done!</button>
                </div>
        </form>
    </div>
</div>

    <script type="text/javascript">
        function newMember1() {
            document.getElementById("member-2-details").style.display = "block";
        }
    
        function newMember2() {
            document.getElementById("member-3-details").style.display = "block";
        }
    
        function newMember3() {
            document.getElementById("member-4-details").style.display = "block";
        }
    
        function newMember4() {
            document.getElementById("member-5-details").style.display = "block";
        }
    
        function newMember5() {
            document.getElementById("member-6-details").style.display = "block";
        }
    
        function newMember6() {
            document.getElementById("member-7-details").style.display = "block";
        }
    
        function newMember7() {
            document.getElementById("member-8-details").style.display = "block";
        }
    
        function newMember8() {
            document.getElementById("member-9-details").style.display = "block";
        }
    
        function newMember9() {
            document.getElementById("member-10-details").style.display = "block";
        }
    </script>

    {% endblock %}
