{% extends 'base.html'%} {% block content %}
<div class="blank-background">
    <h2 class="page-title">Edit Jam</h2>
    <div class="row">
        <form action="{{ url_for('edit_jam', jam_id=jam._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="jam_title" name="jam_title" type="text" class="validate" value="{{jam.jam_title}}">
                    <label for="icon_prefix">Jam Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="genre" name="genre" type="text" class="validate" value="{{jam.genre}}">
                    <label for="icon_prefix">Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input id="date_of_jam" name="date_of_jam" type="text" class="datepicker">
                    <label for="icon_prefix">Due Date</label>
                </div>
            </div>
            <div class="row">
                <span class="input-field col s6 m8">
                <input id="jam_location" name="jam_location" type="text" class="validate" value="{{jam.jam_location}}">
                <label for="icon_prefix">Address</label>
            </span>
                <span class="input-field col s6 m4">
                <select name="jam_county">
                    {% if jam.jam_county %}
                    <option value="{{jam.jam_county}}">{{jam.jam_county}}</option>
                    {% else %}
                    <option value="" disabled selected>County</option>
                    {% endif %}
                    {% for county in counties %}
                    <option value="{{county.county_name}}">{{county.county_name}}</option>
                    {% endfor %}
                </select>
            </span>
            
            <div class="row" id="members-section">
                <div class="row" id="member-1-details">
                    <span class="input-field col s5">
                        <select name="member_instrument_1" value="{{jam.member_instrument_1}}">
                            <option value="{{jam.member_instrument_1}}">{{jam.member_instrument_1}}</option>
                            {% for instrument in instruments %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_1" value ="{{jam.jam_member_1}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_1" onclick="newMember1()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_2 %}
                <div class="row" id="member-2-details" style="display:block;">
                {% else %}
                <div class="row" id="member-2-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_2">
                            {% if jam.member_instrument_2 %}
                            <option value="{{jam.member_instrument_2}}">{{jam.member_instrument_2}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_2 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_2" value ="{{jam.jam_member_2}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_2" onclick="newMember2()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_3 %}
                <div class="row" id="member-3-details" style="display:block;">
                {% else %}
                <div class="row" id="member-3-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_3">
                            {% if jam.member_instrument_3 %}
                            <option value="{{jam.member_instrument_3}}">{{jam.member_instrument_3}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_3 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_3" value ="{{jam.jam_member_3}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_3" onclick="newMember3()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_4 %}
                <div class="row" id="member-4-details" style="display:block;">
                {% else %}
                <div class="row" id="member-4-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_4">
                            {% if jam.member_instrument_4 %}
                            <option value="{{jam.member_instrument_4}}">{{jam.member_instrument_4}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_4 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_4" value ="{{jam.jam_member_4}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_4" onclick="newMember4()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_5 %}
                <div class="row" id="member-5-details"  style="display:block;">
                {% else %}
                <div class="row" id="member-5-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_5">
                            {% if jam.member_instrument_5 %}
                            <option value="{{jam.member_instrument_5}}">{{jam.member_instrument_5}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_5 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_5" value ="{{jam.jam_member_5}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_5" onclick="newMember5()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_6 %}
                <div class="row" id="member-6-details" style="display:block;">
                {% else %}
                <div class="row" id="member-6-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_6">
                            {% if jam.member_instrument_6 %}
                            <option value="{{jam.member_instrument_6}}">{{jam.member_instrument_6}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_6 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_6" value ="{{jam.jam_member_6}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_6" onclick="newMember6()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_7 %}
                <div class="row" id="member-7-details" style="display:block;">
                {% else %}
                <div class="row" id="member-7-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_7">
                            {% if jam.member_instrument_7 %}
                            <option value="{{jam.member_instrument_7}}">{{jam.member_instrument_7}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_7 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_7" value ="{{jam.jam_member_7}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_7" onclick="newMember7()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_8 %}
                <div class="row" id="member-8-details" style="display:block;">
                {% else %}
                <div class="row" id="member-8-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_8">
                            {% if jam.member_instrument_8 %}
                            <option value="{{jam.member_instrument_8}}">{{jam.member_instrument_8}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_8 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_8" value ="{{jam.jam_member_8}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_8" onclick="newMember8()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_9 %}
                <div class="row" id="member-9-details" style="display:block;">
                {% else %}
                <div class="row" id="member-9-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_9">
                            {% if jam.member_instrument_9 %}
                            <option value="{{jam.member_instrument_9}}">{{jam.member_instrument_9}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_9 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_9" value ="{{jam.jam_member_9}}" type="text">
                    </span>
                    <span class="input-field col s2">
                        <a class="waves-effect waves-light btn" id="new-member_9" onclick="newMember9()">+</i></a>
                    </span>
                </div>
                {% if jam.member_instrument_10 %}
                <div class="row" id="member-10-details" style="display:block;">
                {% else %}
                <div class="row" id="member-10-details">
                {% endif %}
                    <span class="input-field col s5">
                        <select name="member_instrument_10">
                            {% if jam.member_instrument_10 %}
                            <option value="{{jam.member_instrument_10}}">{{jam.member_instrument_10}}</option>
                            {% else %}
                            <option value="" disabled selected>Instrument</option>
                            {% endif %}
                            {% for instrument in instruments_10 %}
                            <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="input-field col s5">
                        <input id="jam_members" name="jam_member_10" value ="{{jam.jam_member_10}}" type="text">
                    </span>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="jam_notes" name="jam_notes" type="text" class="validate" value="{{jam.jam_notes}}">
                    <label for="icon_prefix">Notes</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Done!</button>
                <a href="{{url_for('delete_jam', jam_id=jam._id)}}" class="btn-floating btn-small waves-effect waves-light btn" id="delete"><i class="material-icons">delete</i></a>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        date_of_jam = Date.parse('{{jam.date_of_jam}}');
        $('#date_of_jam').pickadate('picker').set('select', date_of_jam, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>
<script type="text/javascript">
        function newMember1() {
            document.getElementById("member-2-details").style.display = "block";
        }
    
        function newMember2() {
            document.getElementById("member-3-details").style.display = "block";
        }
    
        function newMember3() {
            document.getElementById("member-4-details").style.display = "block";
        }
    
        function newMember4() {
            document.getElementById("member-5-details").style.display = "block";
        }
    
        function newMember5() {
            document.getElementById("member-6-details").style.display = "block";
        }
    
        function newMember6() {
            document.getElementById("member-7-details").style.display = "block";
        }
    
        function newMember7() {
            document.getElementById("member-8-details").style.display = "block";
        }
    
        function newMember8() {
            document.getElementById("member-9-details").style.display = "block";
        }
    
        function newMember9() {
            document.getElementById("member-10-details").style.display = "block";
        }
    </script>
{% endblock %}
