{% extends 'base.html'%} {% block content %}

<div class="row">
    <div class="col s8 offset-s2" "search-bar">
        <input placeholder="Search by area" id="first_name" type="text" class="validate">
    </div>
</div>

<ul class="collapsible" data-collapsible="accordion">
    
    {% for jam in jams %}
    
    <li>
        <div class="collapsible-header jams-list">
            <div class="row">
                <div class="col s1">
                    <i class="material-icons">expand_more</i>
                </div>
                <div class="col s11">
                    <div class="jam-title col s12">
                        <h4>{{jam.jam_title}}</h4>
                    </div>
                    <div class="date col s6">
                        {{jam.date_of_jam}}
                    </div>
                    <div class="genre col s6">
                        {{jam.genre}}
                    </div>
                    <br>
                    <div class="location col s12">
                        {{jam.jam_location}} <br> {{jam.jam_postcode}}
                    </div>
                </div>
            </div>
        </div>

        <div class="collapsible-body">
            <div class="row">
                <div class="col s12"><p>Members</p></div>
            </div>
            <div class="row">
                <div class="col s6">
                    {% for member in jam.jam_members %}
                        {{jam.jam_members}}
                    {% endfor %}
                </div>
                <div class="col s6">
                    {{jam.member_instrument_1}}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {{jam.jam_member_2}}
                </div>
                <div class="col s6">
                    {{jam.member_instrument_2}}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {{jam.jam_member_3}}
                </div>
                <div class="col s6">
                    {{jam.member_instrument_3}}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {{jam.jam_member_4}}
                </div>
                <div class="col s6">
                    {{jam.member_instrument_4}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>Notes</p>
                </div>
                <div class="col s10">
                    {{jam.jam_notes}}
                </div>
                <div class="col s2">
                    <a href="{{url_for('edit_jam', jam_id=jam._id)}}" class="waves-effect waves-light btn" id="edit"><i class="material-icons">edit</i></a>
                    <a href="{{url_for('delete_jam', jam_id=jam._id)}}" class="waves-effect waves-light btn" id="delete"><i class="material-icons">delete</i></a>
                </div>
            </div>
        </div>
    </li>
    
    {% endfor %}
    
</ul>

{% endblock %}
