{% extends 'base.html' %} {% block content %}
<div class="container">
<h3>Create a new account</h3>
<h6>That username already exists, try a different one!</h6>
    <div class="row">
            <form method=POST action="{{ url_for('register') }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="username">
                        <label for="icon_prefix">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" class="validate" name="password">
                        <label for="icon_prefix">Password</label>
                    </div>
                </div>
                <div class="row">
                    <span class="input-field col s9">
                        <input id="user_location" name="user_location" type="text">
                        <label for="icon_prefix">Address</label>
                    </span>
                    <span class="input-field col s3">
                        <input id="user_postcode" name="user_postcode" type="text">
                        <label for="icon_prefix">Postcode</label>
                    </span>
                </div>
                <div class="row" id="instruments-section">
                    <span class="input-field col s12">
                        <select name="user_instrument">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                                <option value="{{instrument.instruments}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>

                    </span> 
                </div>
                
                
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
    </div>
</div>

{% endblock %}
    