{% extends 'base.html' %} {% block content %}
<div class="blank-background">
    <h3>Create a new account</h3>
    <div class="row">
        <form method=POST action="{{ url_for('register') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="username">
                    <label for="icon_prefix">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" class="validate" name="password">
                    <label for="icon_prefix">Password</label>
                </div>
            </div>
            <div class="row">
                <span class="input-field col s12">
                    <select name="user_county">
                        <option value="" disabled selected>County</option>
                        {% for county in counties %}
                        <option value="{{county.county_name}}">{{county.county_name}}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="row" id="instruments-section">
                <span class="input-field col s12">
                        <select name="user_instrument">
                            <option value="" disabled selected>Instrument</option>
                            {% for instrument in instruments %}
                                <option value="{{instrument.instrument_name}}">{{instrument.instrument_name}}</option>
                            {% endfor %}
                        </select>

                    </span>
            </div>


            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <br>
    </div>
</div>

{% endblock %}