{% extends 'base.html'%} {% block content %}

<div class="row">
    <div class="col s8 offset-s2" "search-bar">
        <select id="county" name="county">
            <option value="" disabled selected>Search by county</option>
            {% for my_county in counties %}
            <option value="{{my_county.counties}}">{{my_county.county}}</option>
            {% endfor %}
        </select>
    </div>
</div>

    {% for user in users %}
<div class="user-card card">
    <ul>
        <div class="row">
            <div class="col s12">
                <div class="user-name col s12">
                    <h4>{{user.username}}</h4>
                </div>
                <div class="date col s6">
                    {{user.user_location}}
                </div>
                <div class="genre col s6">
                    {{user.user_postcode}}
                </div>
                <br>
                <div class="location col s12">
                    {{user.user_instrument_1}}
                </div>
            </div>
        </div>
    </ul>
</div>
    {% endfor %}

{% endblock %}
